@media screen and (max-width: 1100px) {
    body {
        width: 100vw;

        .container {
            padding: 10px;
        }

        .showcase {
            padding-top: 50%;
            .name {
                h1 {
                    font-size: 4rem;
                    line-height: 5rem;
                    text-align: center;
                    // letter-spacing: 1rem;
                }
            }
        }

        #about {
            height: 100%;

            p {
                font-size: 2rem;
                padding: 0 10px;
            }
        }
    }

    .project-list {
        display: flex;
        width: 100%;
        padding: 0 10px;

        .project {
            flex: 50% 0 1;
            padding: 0 10px;
        }
    }

    #project-page {
        flex-direction: column;
        justify-content: center;

        .card {
            width: 100%;
            padding-bottom: 30px;

            h1 {
                font-size: 3rem;
                padding-bottom: 20px;
            }
        }

        .content {
            width: 100%;
            padding: 0 30px;

            p {
                font-size: 20pt;
            }
            a {
                font-size: 20pt;
            }
        }
    }

    .back-btn {
        font-size: 30pt;
        position: absolute;
        background: transparent;
        top: 60px;
        left: 30px;
        border: none;

        &:hover {
            cursor: pointer;
        }
    }
}
