.project-list {
    padding: 0 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .project {
        // border: 1px black solid;
        flex: 33% 0 1;
        height: auto;
        padding: 0 10px;
        // border-radius: 10px;

        a {
            text-decoration: none;
            color: black;
        }

        h1 {
            text-align: center;
        }

        img {
            height: auto;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}
